/* ------------------------------- */
/* -------------------------------


/* = Graphic values

_Color Code_

_Font Family_

*/
/* ------------------------------- */
/* -------------------------------

*/

html {
}

body {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #58595B;
    background: #FFFFFF;
}

/* ------------------------------- */
/* ------------------------------- */
table {
    margin-bottom: 16px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-spacing: 0;
}

tr,
th {
    vertical-align: top;
}

thead th {
    padding: 10px 10px 9px 10px;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
}

tfoot td{
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border-left: 1px dashed #CCCCCC;
}


/* ------------------------------- */
/* ------------------------------- */
img {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

figure > img {
    display: block;
    border:none;
}

/* ------------------------------- */
/* ------------------------------- */
em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small {
    font-size: 12px;
    font-style: italic;
}

cite{
    font-style: italic;
}

blockquote {
    margin: 0 0 10px 0;
    font-style: italic;
}


a {
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-decoration: underline;
    color: #00a539;
    background-color: transparent;
}

a:link {
    color: #00a539;
}

a:visited {
    color: #00a539;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #58595B;
}

/* ------------------------------- */
/* ------------------------------- */
p,
pre,
code,
dl,
figure {
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
}

pre,
code {
    font-family: "Courier New", Courier, monospace;
}


blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: italic;
}

hr {
    margin: 0px 0px 19px 0;
    padding: 0;
    height: 1px;
    line-height: 0;
    border: 0;
    background-color: #00a539;
}

ul {
    margin: 0 40px 20px 40px;
    list-style: none;
}

ol {
    margin: 0 40px 20px 40px;
    list-style-position: inside;
}

li,
dt {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
}


dt {
    font-weight: bold;
}

dd {
    margin: 0 40px 20px 40px;
    font-style: italic;
}

figcaption {
    font-style: italic;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

/* ------------------------------- */
/* ------------------------------- */
section,
nav,
article,
aside,
hgroup,
header,
footer,
address {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px 0 20px 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-family: "Georgia", Times, sans-serif;
    font-weight: normal;
    letter-spacing: 0.01em;
    word-spacing: 0.1pc;
    color: #009132;
}

h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link,
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited {
    text-decoration: none;
    color: #009132;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: underline;
    color: #009132;
}

h1 {
    padding-bottom: 20px;
}

h2 {
    line-height: 40px;
}
h3 {
    line-height: 20px;
}
h4 {
    font-size: 16px;
    line-height: 20px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 20px;


/* ------------------------------- */
/* ------------------------------- */
/** @todo continuer pour les autres éléments de formulaire
form {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

label {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
}

input:not([type="submit"]) {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border: 1px solid #009132;
    font-size: 14px;
    height: 20px;
    background-color: transparent;
}

input[type="submit"],
button {
    display: block;
    margin: 0 0 10px 0;
    padding: 5px 20px;
    border: 0;
    font-size: 14px;
    height: 40px;
    background-color: #00a539;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}


select {
    margin: 0 0 15px 0;
    border: 1px solid #009132;
    border-radius: 0;
    font-size: 14px;
    height: 25px;
    background: transparent;
}



textarea {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border: 1px solid #009132;
    font-size: 14px;
}

fieldset {
    border: 1px solid #009132;
    padding: 20px;
    margin: 0;
}

legend {
    color: #00a539;
}